@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #10B981;
  --secondary: #064E3B;
  --tertiary: #FC7C78;
  --neutral: #6B7280;
  --font-roboto: "Roboto", sans-serif;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font: var(--roboto);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
*{
  font-family: var(--font-roboto);
}
body {
  /* background: var(--background); */
  color: var(--foreground);
  font-family: var(--font-roboto);
}